@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.img {
    max-width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

header img {
    width: 150px;
}

.search-input {
   display: flex;
   width: 80%;
   justify-content: space-around;
   border: 1px solid black;
}

.search-input input {
   flex: 1;
   border: none;
   padding: 0.5em;
}

.search-input button {
   border: none;
   padding: 0.5em;
}

button img {
   display: flex;
    width: 20px; 

}

footer {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}



 :root {
 --primary-color: #1B98E0;
 --secondary-color: #59c3c3;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: 'Lato', sans-serif;
 --secondary-font: "Noto Sans", sans-serif;
 }


 .social img {
    width: 50px;
 }

 header h1 {
    width: 300px;
 }

 @media (max-width: 400px) {
      body {
         width: 100%;
      }
      
 }